.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.content {
  padding: 2rem;
  max-width: 400px;
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--secondary); /* Gold */
}

.content p {
  font-size: 1rem;
  line-height: 1.5;
}
